.bloc {
  width: 200px;
  height: 200px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
}

input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
}

textarea {
  height: 150px;
  width: 400px;
  border-radius: 10px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
