* {
  margin: 0;
  padding: 0;
}

.bloc {
  width: 50vw;
  height: 800px;

  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

@media screen and (min-width: 768px) {
  .bloc {
    width: 40vw;
    max-width: 700px;
  }
}

.bloc > div {
  width: inherit;
}

input {
  width: inherit;
  min-width: 150px;
  padding: 5px 5px 5px 15px;
  font-size: 18px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

textarea {
  width: inherit;
  min-width: 150px;
  padding: 10px 5px 5px 15px;
  font-size: 18px;

  border-radius: 10px;
  margin-top: 10px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

label {
  font-family: system-ui;
  font-size: 1.6em;
  font-style: normal;
  color: #d97d0d;
}
body {
  background-color: #323e40;
}

.required {
  color: red;
  font-size: 1.3em;
  font-family: system-ui;
  font-style: normal;
}

.button {
  color: #d97d0d;
  font-size: 1.3em;
  font-family: system-ui;
  font-style: normal;
}
